<%= form_for @conn, decode_path(@conn, :create), fn f -> %>
  <textarea name="receipt" class="form-control" rows="12" autocapitalize="none" autocomplete="off" autofocus="true" required="required" spellcheck="false" placeholder="Please paste in Base64 encoded iOS App receipt"></textarea>
  <button type="submit" class="btn btn-primary">Decode receipt</button>
<% end %>
